<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.hllvc.sleepwatcher</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/sbin/sleepwatcher</string>
      <string>-s</string>
      <string>/Users/hllvc/.sleep</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/hllvc/Library/Logs/com.hllvc.tmux-autosave/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/hllvc/Library/Logs/com.hllvc.tmux-autosave/err.log</string>
  </dict>
</plist>
