<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.hllvc.tmux-shutdown-save</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>daemon.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/hllvc/.repos/private/dotfiles/master/.shell/scripts/crons/tmux-autosave</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
      <key>TMUX_TMPDIR</key>
      <string>/Users/hllvc/.tmux/sockets</string>
    </dict>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/hllvc/Library/Logs/com.hllvc.tmux-autosave/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/hllvc/Library/Logs/com.hllvc.tmux-autosave/err.log</string>
  </dict>
</plist>
